 body {
        background-color: #AEC2B6;
        }
        hr {
        border-style: dotted none none;
        width: 85%;
        border-color: grey;
        border-width: 5px;
        }
        h3 {
        color: #DF2E38;

        }
        h1 {
        color: #DF2E38;

        }
